[Unit]
Description=rpi_exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ userId }}
Group={{ groupId }}
Restart=on-failure
Type=simple
ExecStart={{ bin }}

[Install]
WantedBy=multi-user.target