mirrors:
  {{ registry }}:
    endpoint:
      - "https://{{ registry_endpoint }}"
configs:
  "{{ registry_endpoint }}":
    auth:
      username: admin
      password: admin
    tls:
      ca_file: "/etc/docker/certs.d/{{ registry_endpoint }}/ca.crt"
